@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* =========================
   Grid Background Variables
========================= */
:root {
  --borderColor1: rgba(200, 200, 200, 0.6);
  /* Light mode default */
}

.dark {
  --borderColor1: rgba(200, 200, 200, 0.15);
  /* Dark mode override */
}

/* =========================
   Base Styles
========================= */
body {
  font-family: var(--font-poppins), sans-serif;
}

/* =========================
   Light Mode
========================= */
.light {
  @apply bg-white text-black;

  &::selection {
    background-color: rgba(250, 30, 81, 0.3);
    /* #FA1E51 with 30% opacity */
  }

  &::-moz-selection {
    background-color: rgba(250, 30, 81, 0.3);
  }
}

/* =========================
   Dark Mode
========================= */
.dark {
  @apply bg-black text-white;

  &::selection {
    background-color: rgba(250, 30, 81, 0.6);
    /* #FA1E51 with 60% opacity */
  }

  &::-moz-selection {
    background-color: rgba(250, 30, 81, 0.6);
  }
}

/* Red : #FA1E51 */

/* For Hover Cursor Effect use .hover-cursor-effect */

.hover-underline {
  @apply relative inline-block;
}

.hover-underline::after {
  content: "";
  @apply absolute left-0 right-0 bottom-0 h-[2px] bg-current scale-x-0 transition-transform ease-in-out duration-500;
  transform-origin: right;
}

.hover-underline:hover::after {
  @apply scale-x-100;
  transform-origin: left;
}